# OS Files
.DS_Store
**/.DS_Store

# User configurations & generated data
looker-config.json
dist/looker-config.json
skills/dashboard-creator/config.json
dist/skills/dashboard-creator/config.json
apps/
dist/apps/

# Binaries
scripts/toolbox
dist/scripts/toolbox

# Python
__pycache__/
**/__pycache__/
.claude/
